--extra-index-url https://pypi.fury.io/ericmichael/
omniagents[all]>=0.6.31
python-dotenv
playwright>=1.44.0
axe-playwright-python>=0.1.6
pypdf>=4.2.0
lxml>=5.2.2
pywin32>=306; platform_system == "Windows"
